
/* /////////section1//////////  */
/* /////// section2/////////// */
.share-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px solid grey;
  /* margin-top: 20px; */
  z-index: 1;
  margin: 0 100px;
}

.share-button {
  display: flex;
  gap: 20px;
}

/* .share-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */


/* ///////section3 /////////// */
 /*///////// footer ///////////// */