body {
  margin: 0 auto;
  width: 1200px;
  background-color: beige;

  /* position: fixed; */
}

/* //////////header//////////// */
.all-header {
  display: flex;
  justify-content: center;
  background: white;
  position: fixed;
  width: 100%;
  height: 96px;
  z-index: 100;
  box-shadow: 3px 3px 3px rgb(204 204 204);
}

.site-header {
  justify-content: center;
  background: white;
  position: fixed;
  width: 100%;
  height: 96px;
  z-index: 100;
  box-shadow: 3px 3px 3px rgb(204 204 204);
  display: flex;
  align-items: center;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  height: 96px;
}

.posselogo img {
  max-width: 130px;
  vertical-align: middle;
  object-fit: cover;
}

.menu-content {
  margin-right: 10px;
}

.topmenu {
  justify-content: center;
  display: flex;
  font-weight: bold;
  font-size: 20px;
  flex-grow: 1;
}

/* ヘッダー内の文字に触れた時 */
.header-list a:hover {
  background-color: skyblue;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
}

/* ヘッダー内文字 */
.header-list a {
    text-decoration: none;
    color: black;
    padding: 0 1vw;
    white-space: nowrap;
}

/* /////////section1//////////  */
#main-title {
  margin: 20px 0;
  text-align: center;
  font-size: 50px;
}
.main {
  display: flex;
}
#main-container {
  width: 800px;
  height: 600px;
  margin-right: 10px;
  background-color: aqua;
}
h2 {
  text-align: center;
  margin: 30px 0;
  font-size: 30px;
}

.game-button {
  display: flex;
}



#side-container {
  width: 390px;
  height: 600px;
}


/* /////// section2/////////// */
.share-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 3px solid grey;
  /* margin-top: 20px; */
  z-index: 1;
}

.share-img {
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
}

.share-img img {
  width: 70vw;
  height: 70vh;
  object-fit: contain;
}

/* .share-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.twitter-share-button {
  /* width: 70vw; */
}
/* ///////section3 /////////// */
 /*///////// footer ///////////// */